<h1>All Products</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach((product) => { %>
      <tr>
        <td><a href="/products/<%= product.product_id %>"><%= product.product_id %></a></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.quantity %></td>
      </tr>
    <% }); %>
  </tbody>
</table>
