<h1>Product Details</h1>

<table>
  <tr>
    <td>ID:</td>
    <td><%= product.product_id %></td>
  </tr>
  <tr>
    <td>Name:</td>
    <td><%= product.name %></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><%= product.description %></td>
  </tr>
  <tr>
    <td>Price:</td>
    <td><%= product.price %></td>
  </tr>
  <tr>
    <td>Quantity:</td>
    <td><%= product.quantity %></td>
  </tr>
</table>
