<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Equipit Delivery Service - Driver Details</title>
  </head>
  <body>
    <h1>Driver Details</h1>
    <p>ID: <%= driver.driver_id %></p>
    <p>Name: <%= driver.name %></p>
    <p>Email: <%= driver.email %></p>
    <p>Phone: <%= driver.phone %></p>
    <p>Vehicle Make: <%= driver.vehicle_make %></p>
    <p>Vehicle Model: <%= driver.vehicle_model %></p>
    <p>Vehicle Color: <%= driver.vehicle_color %></p>
    <p>DOB: <%= driver.DOB %></p>
    <p>Password: <%= driver.password %></p>
    <a href="/drivers">Back to Drivers</a>
  </body>
</html>
